@import "/node_modules/css-media-vars/css-media-vars.css";

:root {
    /* Colors */
    --background: #2B636C;
    --background-dark: #1C464D;
    --background-darkest: #162B2E;
    --mountain-grey: #D5E2E4;
    --sky-blue: #D6F1F5;
    --sky-pink: #E4D6D5;
    --svelte-orange: #FF3E00;
    --bear-brown: #7B5855;
    --mountain-yellow: #F5E6D4;

    --body-text: white;

    /* Font settings */
    font-family: 'Inter';
    color: var(--body-text);

    --small: var(--media-lte-sm) 18px;
    --medium: var(--media-md) 16px;
    font-size: var(--small, var(--medium, 14px));
}

body {
    margin: 0;
    background: var(--background);
    display: grid;
}

h1.display {
    font-family: 'Anton';
    line-height: 110%;

    --small: var(--media-lte-sm) 84px;
    font-size: var(--small, 160px);
}

h2.display, time.display, .sub.display {
    font-family: 'Anton';
    line-height: 110%;
    
    --small: var(--media-lte-sm) 40px;
    font-size: var(--small, 73px);
}

h1 {
    font-family: 'Overpass';
    font-weight: 700;

    --small: var(--media-lte-sm) 29px;
    --medium: var(--media-md) 36px;
    font-size: var(--small, var(--medium, 42px));
}

h2 {
    font-family: 'Overpass';
    font-weight: 700;

    --small: var(--media-lte-sm) 22px;
    --medium: var(--media-md) 25px;
    font-size: var(--small, var(--medium, 28px));
}

h3 {
    font-family: 'Overpass';
    font-weight: 700;

    --small: var(--media-lte-sm) 20px;
    --medium: var(--media-md) 22px;
    font-size: var(--small, var(--medium, 24px));
}


@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: local('Anton Regular'), local('Anton-Regular'),
         url('./fonts/Anton-Regular.woff2') format('woff2')
}

  /* overpass-regular - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: local('Overpass Regular'), local('Overpass-Regular'),
         url('./fonts/Overpass-Regular.woff2') format('woff2')
}
  /* overpass-700 - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: local('Overpass Bold'), local('Overpass-Bold'),
    url('./fonts/Overpass-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/Inter-Regular.woff2') format('woff2')
  }