:root {
  /* Colors */
  --background: #2B636C;
  --background-dark: #1C464D;
  --background-darkest: #162B2E;
  --mountain-grey: #D5E2E4;
  --sky-blue: #D6F1F5;
  --sky-pink: #E4D6D5;
  --svelte-orange: #FF3E00;
  --bear-brown: #7B5855;
  --mountain-yellow: #F5E6D4;

  --body-text: white;

  --container-width: 1100px;

  /* Font settings */
  font-family: 'Inter', sans-serif;
  color: var(--body-text);

  --small: var(--media-lte-sm) 18px;
  --medium: var(--media-md) 16px;
  font-size: var(--small, var(--medium, 14px));
}

body {
  margin: 0;
  background: var(--background);
  display: grid;
  line-height: 1.7;
}

a, a:visited {
  color: white;
  font-weight: bold;
}

h1.display {
  font-family: 'Anton';
  line-height: 110%;

  --small: var(--media-lte-sm) 84px;
  font-size: var(--small, 160px);
}

h2.display, time.display, .sub.display {
  font-family: 'Anton', sans-serif;
  line-height: 110%;
  
  --small: var(--media-lte-sm) 40px;
  font-size: var(--small, 73px);
}

h1 {
  font-family: 'Overpass';
  font-weight: 700;

  --small: var(--media-lte-sm) 29px;
  --medium: var(--media-md) 36px;
  font-size: var(--small, var(--medium, 42px));
}

h2 {
  font-family: 'Overpass';
  font-weight: 700;

  --small: var(--media-lte-sm) 22px;
  --medium: var(--media-md) 25px;
  font-size: var(--small, var(--medium, 28px));
}

h3 {
  font-family: 'Overpass';
  font-weight: 700;

  --small: var(--media-lte-sm) 20px;
  --medium: var(--media-md) 22px;
  font-size: var(--small, var(--medium, 24px));
}


@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton Regular'), local('Anton-Regular'),
       url('./fonts/Anton-Regular.woff') format('woff')
}

/* overpass-regular - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'),
       url('./fonts/Overpass-Regular.woff2') format('woff2')
}
/* overpass-700 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: local('Overpass Bold'), local('Overpass-Bold'),
  url('./fonts/Overpass-Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/Inter-Regular.woff') format('woff')
}

/**
 * css-media-vars
 * BSD 2-Clause License
 * Copyright (c) James0x57, PropJockey, 2020
 */

 html {
  --media-print: initial;
  --media-screen: initial;
  --media-speech: initial;
  --media-xs: initial;
  --media-sm: initial;
  --media-md: initial;
  --media-lg: initial;
  --media-xl: initial;
  --media-gte-sm: initial;
  --media-gte-md: initial;
  --media-gte-lg: initial;
  --media-lte-sm: initial;
  --media-lte-md: initial;
  --media-lte-lg: initial;
  --media-sm-md: initial;
  --media-sm-md-lg: initial;
  --media-md-lg: initial;
  --media-landscape: initial;
  --media-portrait: initial;
  --media-prefers-light: initial;
  --media-prefers-dark: initial;
  --media-prefers-reduced-motion: initial;
  --media-any-hover-hover: initial;
  --media-any-hover-none: initial;
  --media-any-pointer-coarse: initial;
  --media-any-pointer-fine: initial;
  --media-any-pointer-none: initial;
  --media-hover-hover: initial;
  --media-hover-none: initial;
  --media-pointer-coarse: initial;
  --media-pointer-fine: initial;
  --media-pointer-none: initial;
}
@media print {
  html { --media-print: ; }
}
@media screen {
  html { --media-screen: ; }
}
@media speech {
  html { --media-speech: ; }
}
@media (max-width: 37.499em) {
  html {
    --media-xs: ;
    --media-lte-sm: ;
    --media-lte-md: ;
    --media-lte-lg: ;
  }
}
@media (min-width: 37.5em) and (max-width: 56.249em) {
  html {
    --media-sm: ;
    --media-gte-sm: ;
    --media-lte-sm: ;
    --media-lte-md: ;
    --media-lte-lg: ;
    --media-sm-md: ;
    --media-sm-md-lg: ;
  }
}
@media (min-width: 56.25em) and (max-width: 74.99em) {
  html {
    --media-md: ;
    --media-gte-sm: ;
    --media-gte-md: ;
    --media-lte-md: ;
    --media-lte-lg: ;
    --media-sm-md: ;
    --media-sm-md-lg: ;
    --media-md-lg: ;
  }
}
@media (min-width: 75em) and (max-width: 112.499em) {
  html {
    --media-lg: ;
    --media-gte-sm: ;
    --media-gte-md: ;
    --media-gte-lg: ;
    --media-lte-lg: ;
    --media-sm-md-lg: ;
    --media-md-lg: ;
  }
}
@media (min-width: 112.5em) {
  html {
    --media-xl: ;
    --media-gte-sm: ;
    --media-gte-md: ;
    --media-gte-lg: ;
  }
}
@media (prefers-color-scheme: light) {
  html {
    --media-prefers-light: ;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    --media-prefers-dark: ;
  }
}
@media (any-hover: hover) {
  html {
    --media-any-hover-hover: ;
  }
}
@media (any-hover: none) {
  html {
    --media-any-hover-none: ;
  }
}
@media (any-pointer: coarse) {
  html {
    --media-any-pointer-coarse: ;
  }
}
@media (any-pointer: fine) {
  html {
    --media-any-pointer-fine: ;
  }
}
@media (any-pointer: none) {
  html {
    --media-any-pointer-none: ;
  }
}
@media (hover: hover) {
  html {
    --media-hover-hover: ;
  }
}
@media (hover: none) {
  html {
    --media-hover-none: ;
  }
}
@media (pointer: coarse) {
  html {
    --media-pointer-coarse: ;
  }
}
@media (pointer: fine) {
  html {
    --media-pointer-fine: ;
  }
}
@media (pointer: none) {
  html {
    --media-pointer-none: ;
  }
}
@media (prefers-reduced-motion) {
  html {
    --media-prefers-reduced-motion: ;
  }
}
@media (orientation: landscape) {
  html {
    --media-landscape: ;
  }
}
@media (orientation: portrait) {
  html {
    --media-portrait: ;
  }
}
